$width100: 100%;
$width90: 90%;
$width80: 80%;
$width70: 70%;
$width60: 60%;
$width50: 50%;
$width40: 40%;
$width30: 30%;
$width20: 20%;
$width10: 10%;
$height0: 0;
$height100: 100%;
$height90: 90%;
$height80: 80%;
$height70: 70%;
$height60: 60%;
$height50: 50%;
$height40: 40%;
$height30: 30%;
$height20: 20%;
$height10: 10%;
$height0: 0;
